<ng-container *ngIf="forms | async; let forms">
  <ng-container [formGroup]="forms.base">
    Id:<input formControlName="id" /> <br />
    Reference: <input formControlName="reference" /> <br />
  </ng-container>

  <ng-container [formGroup]="forms.property">
    Property Name: <input formControlName="propertyName" /> </ng-container
  ><br />

  <input [formControl]="forms.other" />

  <p>{{ forms.base.value | json }}</p>
  <p>{{ forms.property.value | json }}</p>

  <button (click)="reloadDeal()">Reload</button>
</ng-container>

<h1>Dynamic component part</h1>
